<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs')%>
    <title><%= title %></title>
  </head>
  <body>
    <%- include('../partials/nav.ejs')%>
    <div class="container mt-4">
      <ul class="list-group">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
        <li class="list-group-item">A fourth item</li>
        <li class="list-group-item">And a fifth one</li>
      </ul>
      <img id="img" src="../Productdata/images//white-pizza.png" alt="" srcset="">
       </div>
  </body>
</html>
